<!-- <footer class="container-fluid navbar-inverse {% if page.class == 'buy' %} navbar-fixed-bottom {% endif %}"> -->
<footer class="container-fluid navbar-inverse">
	<div class="container text-center">             
		
		<a class="blog-svg hide-text" href="http://www.fixelalgorithms.co" target="_blank">Home</a>
		<a class="email-svg hide-text" href="mailto:fixel@fixelalgorithms.com" target="_blank">Email</a>
		<!-- <a class="google-svg hide-text" style="display: none" href="http://plus.google.com/u/1/111682277377408685163" rel="author" target="_blank">Davide Barranca</a> -->
		<a class="rss-svg hide-text" href="/rss.xml" target="_blank">RSS</a>
        
        <!-- ======= IUBENDA - Comment out when serving the website locally ======= -->

		<a href="//www.iubenda.com/privacy-policy/7880251" class="iubenda-black no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>

	    <!-- ======= IUBENDA END ================================================== -->

</footer>

