<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <meta name="description" content="Fixel Algorithms – Image Processing Algorithms">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/rss.xml">

    <!-- FAVICON-->
    <!-- https://realfavicongenerator.net/ -->

    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{site.baseurl}}/manifest.json">
    <link rel="mask-icon" href="{{site.baseurl}}/safari-pinned-tab.svg" color="#ef4a4a">
    <meta name="theme-color" content="#ffffff">

    {% for social_meta in page.social %}
        <meta {{ social_meta }} />
    {% endfor %}

    <!-- Bootstrap -->
    <!--    <link href="/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- Font MammaGamma See https://www.onlinewebfonts.com/download/1d8209e6e1d626b5657d1a5b99ea9572 -->
	<link href="//db.onlinewebfonts.com/c/1d8209e6e1d626b5657d1a5b99ea9572?family=MammaGamma" rel="stylesheet" type="text/css"/>

    <!--    Site CSS - minified or not-->
    <!-- <link href="{{site.baseurl}}/css/main.css" rel="stylesheet"> -->
    <link href="{{site.baseurl}}/css/Theme.css" rel="stylesheet">

    {% if page.beforeafter %}
    <link href="{{site.baseurl}}/css/twentytwenty.min.css" rel="stylesheet">
    {% endif %}

    {% if page.author == "Fixel Algorithms" %}
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    {% endif %}

    <!-- ======= IUBENDA - Comment out when serving the website locally ======= -->

    <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = {
            cookiePolicyId: 7880251,
            siteId: 578286,
            lang: "en"
        };
    </script>
    <script type="text/javascript" src="//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8" async></script>

    <!-- ======= IUBENDA END ================================================== -->
	
	<!-- Fast Spring (FastSpring) Popup StoreFront -->
	
	<script
		id="fsc-api"
		src="https://d1f8f9xcsvx3ha.cloudfront.net/sbl/0.7.9/fastspring-builder.min.js"
		type="text/javascript"
		data-storefront="fixelalgorithms.onfastspring.com/popup-fixelalgorithms">
	</script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
