<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">

    <form action="https://fixelalgorithms.us5.list-manage.com/subscribe/post?u=a9c0bd94cb97f39db97935d39&amp;id=9d67a1120c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate right-xs-center" target="_blank" novalidate>

        <h3 class="faq-subtitle">Subscribe to our mailing list</h3>
        
        <div class="mc-field-group">
            <label for="mce-FNAME" class="feature-text">First Name  <!-- <span class="asterisk">*</span> --></label>
            <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
        </div>
        <div class="mc-field-group">
            <label for="mce-LNAME" class="feature-text">Last Name  <!-- <span class="asterisk">*</span> --></label>
            <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
        </div>
        <div class="mc-field-group">
            <label for="mce-EMAIL" class="feature-text">Your Email  <!-- <span class="asterisk">*</span> --></label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div id="mce-responses">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_a9c0bd94cb97f39db97935d39_9d67a1120c" value="">
        </div>
        <div class="clearfix"></div>
        <div class="indicates-required">
            <p class="">(All fields required, ultra low email traffic!)</p>
        </div>
        <div class="right-xs-center">
            <input type="submit" value="Subscribe!" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-lg btn-primary">
        </div>

    </form>
</div>
<!--End mc_embed_signup-->