<div class="products-sidebar hidden-print" role="complementary" data-spy="affix" data-offset-top="60" data-offset-bottom="">
    <!-- <div class="products-sidebar hidden-print" role="complementary" data-spy="affix" data-offset-top="60" data-offset-bottom="165"> -->
        <ul class="nav sidenav products-sidenav">
            <li class="sidebar-products-title hidden-sm">PRODUCTS</li>
            
            <li>
                <a href="../contrastica/">CONTRASTICA</a>
                <ul class="nav">
                    <li>
                        <a href="#contrastica-overview">Overview</a>
                    </li>
                    <li>
                        <a href="#contrastica-example">Showcase</a>
                    </li>
                    <!-- <li>
                        <a href="#contrastica-docs">Resources</a>
                    </li> -->
                    <li>
                        <a href="#contrastica-buy">Buy</a>
                    </li>
                    <li>
                        <a href="#contrastica-reviews">Reviews</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="../detailizer/">DETAILIZER</a>
                <ul class="nav">
                    <li>
                        <a href="#detailizer-overview">Overview</a>
                    </li>
                    <li>
                        <a href="#detailizer-example">Showcase</a>
                    </li>
                    <li>
                        <a href="#detailizer-docs">Resources</a>
                    </li>
                    <li>
                        <a href="#detailizer-buy">Buy</a>
                    </li>
                    <li>
                        <a href="#detailizer-reviews">Reviews</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="../edgehancer/">EDGEHANCER</a>
                <ul class="nav">
                    <li>
                        <a href="#edgehancer-overview">Overview</a>
                    </li>
                    <li>
                        <a href="#edgehancer-example">Showcase</a>
                    </li>
                    <li>
                        <a href="#edgehancer-docs">Resources</a>
                    </li>
                    <li>
                        <a href="#edgehancer-buy">Buy</a>
                    </li>
                    <li>
                        <a href="#edgehancer-reviews">Reviews</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="../fftwizard/">FFT WIZARD</a>
                <ul class="nav">
                    <li>
                        <a href="#fftwizard-overview">Overview</a>
                    </li>
                    <li>
                        <a href="#fftwizard-example">Showcase</a>
                    </li>
                    <li>
                        <a href="#fftwizard-docs">Resources</a>
                    </li>
                    <li>
                        <a href="#fftwizard-buy">Buy</a>
                    </li>
                    <!--li>
                        <a href="#zoneselector-reviews">Reviews</a>
                    </li-->
                </ul>
            </li>
            <li>
                <a href="../pixelgear/">PIXELGEAR</a>
                <ul class="nav">
                    <li>
                        <a href="#pixelgear-overview">Overview</a>
                    </li>
                    <li>
                        <a href="#pixelgear-example">Showcase</a>
                    </li>
                    <li>
                        <a href="#pixelgear-docs">Resources</a>
                    </li>
                    <li>
                        <a href="#pixelgear-buy">Buy</a>
                    </li>
                    <!--li>
                        <a href="#zoneselector-reviews">Reviews</a>
                    </li-->
                </ul>
            </li>
            <li>
                <a href="../recolor/">RECOLOR</a>
                <ul class="nav">
                    <li>
                        <a href="#recolor-overview">Overview</a>
                    </li>
                    <li>
                        <a href="#recolor-example">Showcase</a>
                    </li>
                    <li>
                        <a href="#recolor-docs">Resources</a>
                    </li>
                    <li>
                        <a href="#recolor-buy">Buy</a>
                    </li>
                    <!--li>
                        <a href="#zoneselector-reviews">Reviews</a>
                    </li-->
                </ul>
            </li>
            <li>
                <a href="../zoneselector/">ZONE SELECTOR</a>
                <ul class="nav">
                    <li>
                        <a href="#zoneselector-overview">Overview</a>
                    </li>
                    <li>
                        <a href="#zoneselector-example">Showcase</a>
                    </li>
                    <li>
                        <a href="#zoneselector-docs">Resources</a>
                    </li>
                    <li>
                        <a href="#zoneselector-buy">Buy</a>
                    </li>
                    <!--li>
                        <a href="#zoneselector-reviews">Reviews</a>
                    </li-->
                </ul>
            </li>
            
        </ul>
    </div>
    