<div class="products-sidebar hidden-print" role="complementary" data-spy="affix" data-offset-top="60" data-offset-bottom="165">
    <ul class="nav sidenav products-sidenav">
        <li class="sidebar-products-title hidden-sm">PRODUCTS</li>
        
        <li>
            <a href="../contrastica/">CONTRASTICA</a>
            <ul class="nav">
                <li>
                    <a href="#contrastica-overview">Overview</a>
                </li>
                <li>
                    <a href="#contrastica-example">Example</a>
                </li>
                <li>
                    <a href="#contrastica-docs">Docs</a>
                </li>
                <li>
                    <a href="#contrastica-buy">Buy</a>
                </li>
                <li>
                    <a href="#contrastica-reviews">Reviews</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="../detailizer/">DETAILIZER</a>
            <ul class="nav">
                <li>
                    <a href="#detailizer-overview">Overview</a>
                </li>
                <li>
                    <a href="#detailizer-example">Example</a>
                </li>
                <li>
                    <a href="#detailizer-docs">Docs</a>
                </li>
                <li>
                    <a href="#detailizer-buy">Buy</a>
                </li>
                <li>
                    <a href="#detailizer-reviews">Reviews</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="../edgehancer/">EDGEHANCER</a>
            <ul class="nav">
                <li>
                    <a href="#edgehancer-overview">Overview</a>
                </li>
                <li>
                    <a href="#edgehancer-example">Example</a>
                </li>
                <li>
                    <a href="#edgehancer-docs">Docs</a>
                </li>
                <li>
                    <a href="#edgehancer-buy">Buy</a>
                </li>
                <li>
                    <a href="#edgehancer-reviews">Reviews</a>
                </li>
            </ul>
        </li>
        
    </ul>
</div>
