---
layout: base
class: news
---

<section>
	<div class="container">
		<div class="news-wrapper">
			<article class="row news-article">
				<h3 class="news-title">{{ page.title }} <span class="news-date">{{ page.date | date: "%-d %B %Y"}}</span></h3>
				{{ content }}
			</article>	
		</div>
		<!-- <div id="commento"></div>
		<script src="https://cdn.commento.io/js/commento.js"></script> -->
		
		<div class="commentbox"></div>
		<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
		<script type="text/javascript">commentBox('5717222076973056-proj', {textColor: '#F8F8FF'});</script>
	</div>
</section>
<section>
	<div class="container">

			{% include mailchimp.html %}

	</div>
</section>
